<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>App</title>
	<link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div class="container container-center container-auth">
	<div class="header color-header">OAuth Approval</div>
	<div class="row">
		<div class="column-label label-text">Client ID</div>
		<div class="column-input" data-th-text="${client.clientId}">unknown</div>
	</div>
	<form data-th-action="@{/oauth/authorize}"
		  method="post">
		<div class="row button-row">
			<button class="button-margin"
					name="user_oauth_approval"
					value="false"
					type="submit">Deny</button>
			<button class="button-default"
					name="user_oauth_approval"
					value="true"
					type="submit">Authorize</button>
		</div>
	</form>
</div>
</body>
</html>
