{
	"extends": ["plugin:import/errors", "plugin:import/warnings"],
	"parser": "babel-eslint",
	"plugins": [
		"react", "import"
	],
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true,
			"spread" : true
		},
		"sourceType": "module"
	},
	"env": {
		"es6": true,
		"browser": true,
		"amd": true,
    	"mocha": true
		},
	"rules": {
        "linebreak-style": ["error", "unix"],
		"semi": ["error", "always"],
		"quotes": ["error", "double"],
		"no-console": 0,
		"import/no-unresolved": [2, { "ignore": ["/?(.*)"] }]
	}
}
